/* Common Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
:root {
    --black: #000;
    --black-a90: rgba(0, 0, 0, 0.9);
    --black-a75: rgba(0, 0, 0, 0.75);
    --black-a60: rgba(0, 0, 0, 0.6);
    --black-a45: rgba(0, 0, 0, 0.45);
    --black-a30: rgba(0, 0, 0, 0.3);
    --black-a15: rgba(0, 0, 0, 0.15);
    --black-a12: rgba(0, 0, 0, 0.12);
    --black-a08: rgba(0, 0, 0, 0.08);
    --black-a04: rgba(0, 0, 0, 0.04);
    --white: #fff;
    --white-a85: hsla(0, 0%, 100%, 0.85);
    --white-a70: hsla(0, 0%, 100%, 0.7);
    --white-a55: hsla(0, 0%, 100%, 0.55);
    --white-a40: hsla(0, 0%, 100%, 0.4);
    --white-a25: hsla(0, 0%, 100%, 0.25);
    --white-a18: hsla(0, 0%, 100%, 0.18);
    --white-a12: hsla(0, 0%, 100%, 0.12);
    --white-a06: hsla(0, 0%, 100%, 0.06);
    --blue-10: #f6fbff;
    --blue-20: #e8f3ff;
    --blue-30: #d0e8ff;
    --blue-40: #a8d4ff;
    --blue-50: #70b5f9;
    --blue-50-a20: rgba(112, 181, 249, 0.2);
    --blue-50-a30: rgba(112, 181, 249, 0.3);
    --blue-60: #378fe9;
    --blue-70: #0a66c2;
    --blue-80: #004182;
    --blue-90: #09223b;
    --cool-gray-10: #f9fafb;
    --cool-gray-20: #eef3f8;
    --cool-gray-30: #dce6f1;
    --cool-gray-40: #c0d1e2;
    --cool-gray-50: #9db3c8;
    --cool-gray-60: #788fa5;
    --cool-gray-70: #56687a;
    --cool-gray-80: #38434f;
    --cool-gray-90: #1d2226;
    --warm-gray-10: #fafaf9;
    --warm-gray-20: #f3f2ef;
    --warm-gray-30: #e9e5df;
    --warm-gray-40: #d6cec2;
    --warm-gray-50: #b9af9f;
    --warm-gray-60: #958b7b;
    --warm-gray-70: #6e6558;
    --warm-gray-80: #474139;
    --warm-gray-90: #211f1c;
    --warm-red-10: #fff9f7;
    --warm-red-20: #ffefea;
    --warm-red-30: #ffded5;
    --warm-red-40: #fdc2b1;
    --warm-red-50: #f5987e;
    --warm-red-60: #e16745;
    --warm-red-70: #b24020;
    --warm-red-80: #762812;
    --warm-red-90: #351a12;
    --teal-10: #eefdff;
    --teal-20: #d5f9fe;
    --teal-30: #aef0fa;
    --teal-40: #79deee;
    --teal-50: #44bfd3;
    --teal-60: #2199ac;
    --teal-70: #13707e;
    --teal-80: #104952;
    --teal-90: #0e2428;
    --teal-50-a30: rgba(68, 191, 211, 0.3);
    --purple-10: #fcf9ff;
    --purple-20: #f7efff;
    --purple-30: #eedfff;
    --purple-40: #dec5fd;
    --purple-50: #c79ef7;
    --purple-60: #a872e8;
    --purple-70: #8344cc;
    --purple-80: #592099;
    --purple-90: #2c1349;
    --system-red-10: #fff9f9;
    --system-red-20: #ffeeef;
    --system-red-30: #ffddde;
    --system-red-40: #ffbfc1;
    --system-red-50: #fc9295;
    --system-red-60: #f55257;
    --system-red-70: #cc1016;
    --system-red-80: #8a0005;
    --system-red-90: #46080a;
    --system-green-10: #f0fdf7;
    --system-green-20: #dbf9eb;
    --system-green-30: #b6f2d6;
    --system-green-40: #7ce3b3;
    --system-green-50: #3ec786;
    --system-green-60: #13a05f;
    --system-green-70: #057642;
    --system-green-80: #004d2a;
    --system-green-90: #022716;
    --pink-10: #fff8ff;
    --pink-20: #ffedfe;
    --pink-30: #ffdafd;
    --pink-40: #fcb9f9;
    --pink-50: #f489ee;
    --pink-60: #dd51d6;
    --pink-70: #b11faa;
    --pink-80: #770c72;
    --pink-90: #3d0a3b;
    --amber-10: #fdfaf5;
    --amber-20: #fbf1e2;
    --amber-30: #fce2ba;
    --amber-40: #f8c77e;
    --amber-50: #e7a33e;
    --amber-60: #c37d16;
    --amber-70: #915907;
    --amber-80: #5d3b09;
    --amber-90: #2a1f0e;
    --copper-10: #fcfaf9;
    --copper-20: #fcf0ed;
    --copper-30: #fadfd8;
    --copper-40: #f2c5b8;
    --copper-50: #e0a191;
    --copper-60: #be7b6a;
    --copper-70: #8f5849;
    --copper-80: #5d392f;
    --copper-90: #2d1d19;
    --green-10: #f6fcf4;
    --green-20: #e3f9d8;
    --green-30: #c7f1b2;
    --green-40: #a5df89;
    --green-50: #7fc15e;
    --green-60: #5f9b41;
    --green-70: #44712e;
    --green-80: #2f4922;
    --green-90: #1b2416;
    --sage-10: #f8fbf6;
    --sage-20: #eaf6e4;
    --sage-30: #d7ebce;
    --sage-40: #bdd7b0;
    --sage-50: #9db88f;
    --sage-60: #7b9370;
    --sage-70: #5a6b51;
    --sage-80: #3a4535;
    --sage-90: #1e221c;
    --lime-10: #f9fce9;
    --lime-20: #eff8b9;
    --lime-30: #dfee89;
    --lime-40: #c6d957;
    --lime-50: #a6ba32;
    --lime-60: #83941f;
    --lime-70: #5f6c16;
    --lime-80: #3e4613;
    --lime-90: #20230f;
    --camo-10: #fafbf3;
    --camo-20: #f1f4e4;
    --camo-30: #e4e8cc;
    --camo-40: #cdd3ac;
    --camo-50: #aeb48a;
    --camo-60: #8a8f6c;
    --camo-70: #65684e;
    --camo-80: #414335;
    --camo-90: #21211d;
    --smoke-10: #f8fafb;
    --smoke-20: #edf3f4;
    --smoke-30: #dbe7e9;
    --smoke-40: #bfd3d6;
    --smoke-50: #a0b4b7;
    --smoke-60: #7d8f92;
    --smoke-70: #5b696b;
    --smoke-80: #3c4345;
    --smoke-90: #1f2122;
    --lavender-10: #fbf9fd;
    --lavender-20: #f4f1f9;
    --lavender-30: #eae2f3;
    --lavender-40: #d7cae7;
    --lavender-50: #bba9d1;
    --lavender-60: #9983b1;
    --lavender-70: #715e86;
    --lavender-80: #493d57;
    --lavender-90: #241f29;
    --mauve-10: #fcf9fc;
    --mauve-20: #f9eff8;
    --mauve-30: #f2e0f1;
    --mauve-40: #e5c6e3;
    --mauve-50: #cea2cc;
    --mauve-60: #ac7da9;
    --mauve-70: #80597e;
    --mauve-80: #523a51;
    --mauve-90: #271e27;
    --system-gray-10: #fafafa;
    --system-gray-20: #f2f2f2;
    --system-gray-30: #e5e5e5;
    --system-gray-40: #cfcfcf;
    --system-gray-50: #b0b0b0;
    --system-gray-60: #8c8c8c;
    --system-gray-70: #666;
    --system-gray-80: #424242;
    --system-gray-90: #212121;
    --system-orange-10: #fff9f6;
    --system-orange-20: #ffefe8;
    --system-orange-30: #ffdfd1;
    --system-orange-40: #ffc1a7;
    --system-orange-50: #ff9466;
    --system-orange-60: #eb6126;
    --system-orange-70: #b93a04;
    --system-orange-80: #792603;
    --system-orange-90: #351a0f;
    --transparent: transparent;
    --elevation-flat: none;
    --elevation-lined: 0px -1px 1px var(--color-border-faint), 1px 0px 1px var(--color-border-faint), -1px 0px 1px var(--color-border-faint), 0px 1px 1px var(--color-border-faint);
    --elevation-raised: 0px 4px 12px var(--black-a15);
    --corner-radius-small: 0.4rem;
    --corner-radius-medium: 0.8rem;
    --corner-radius-large: 3.2rem;
    --corner-radius-xlarge: 4.8rem;
    --corner-radius-full: 50%;
    --attached-top: 0 0 var(--corner-radius-medium) var(--corner-radius-medium);
    --attached-right: var(--corner-radius-medium) 0 0 var(--corner-radius-medium);
    --attached-bottom: var(--corner-radius-medium) var(--corner-radius-medium) 0 0;
    --attached-left: 0 var(--corner-radius-medium) var(--corner-radius-medium) 0;
    --point-top-left: 0 var(--corner-radius-medium) var(--corner-radius-medium) var(--corner-radius-medium);
    --point-top-right: var(--corner-radius-medium) 0 var(--corner-radius-medium) var(--corner-radius-medium);
    --point-bottom-right: var(--corner-radius-medium) var(--corner-radius-medium) 0 var(--corner-radius-medium);
    --point-bottom-left: var(--corner-radius-medium) var(--corner-radius-medium) var(--corner-radius-medium) 0;
    --spacing-half-x: 0.4rem;
    --spacing-one-x: 0.8rem;
    --spacing-one-and-a-half-x: 1.2rem;
    --spacing-two-x: 1.6rem;
    --spacing-three-x: 2.4rem;
    --spacing-four-x: 3.2rem;
    --spacing-six-x: 4.8rem;
    --spacing-eight-x: 6.4rem;
    --spacing-twelve-x: 9.6rem;
    --font-size-xsmall: 1.2rem;
    --font-size-small: 1.4rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 2rem;
    --font-size-xlarge: 2.4rem;
    --font-size-display-small: 2.4rem;
    --font-size-display-medium: 3.2rem;
    --font-size-display-large: 4.8rem;
    --font-size-display-xlarge: 6.4rem;
    --font-weight-regular: 400;
    --font-weight-bold: 600;
    --line-height-default: 1.25;
    --line-height-open: 1.5;
    --paragraph-spacing: 1.2rem;
    --color-transparent: var(--transparent);
    --color-brand: var(--blue-70);
    --color-brand-active: var(--blue-80);
    --color-brand-alt: var(--black);
    --color-brand-alt-active: var(--black);
    --color-brand-on-dark: var(--white);
    --color-brand-on-dark-active: var(--white-a70);
    --color-brand-accent-1: var(--amber-70);
    --color-brand-accent-1-active: var(--amber-80);
    --color-brand-accent-1-on-dark: var(--amber-40);
    --color-brand-accent-1-on-dark-active: var(--amber-50);
    --color-background-brand-accent-1: var(--amber-30);
    --color-background-brand-accent-1-dark: var(--amber-80);
    --color-brand-accent-2: var(--copper-70);
    --color-brand-accent-2-active: var(--copper-80);
    --color-brand-accent-2-on-dark: var(--copper-40);
    --color-brand-accent-2-on-dark-active: var(--copper-50);
    --color-background-brand-accent-2: var(--copper-30);
    --color-background-brand-accent-2-dark: var(--copper-80);
    --color-brand-accent-3: var(--sage-70);
    --color-brand-accent-3-active: var(--sage-80);
    --color-brand-accent-3-on-dark: var(--sage-40);
    --color-brand-accent-3-on-dark-active: var(--sage-50);
    --color-background-brand-accent-3: var(--sage-30);
    --color-background-brand-accent-3-dark: var(--sage-80);
    --color-brand-accent-4: var(--cool-gray-70);
    --color-brand-accent-4-active: var(--cool-gray-80);
    --color-brand-accent-4-on-dark: var(--cool-gray-40);
    --color-brand-accent-4-on-dark-active: var(--cool-gray-50);
    --color-background-brand-accent-4: var(--cool-gray-30);
    --color-background-brand-accent-4-dark: var(--cool-gray-80);
    --color-brand-accent-5: var(--warm-gray-70);
    --color-brand-accent-5-active: var(--warm-gray-80);
    --color-brand-accent-5-on-dark: var(--warm-gray-40);
    --color-brand-accent-5-on-dark-active: var(--warm-gray-50);
    --color-background-brand-accent-5: var(--warm-gray-30);
    --color-background-brand-accent-5-dark: var(--warm-gray-80);
    --color-action: var(--blue-70);
    --color-action-active: var(--blue-80);
    --color-action-on-dark: var(--blue-40);
    --color-action-on-dark-active: var(--blue-50);
    --color-signal-positive: var(--system-green-70);
    --color-signal-positive-active: var(--system-green-80);
    --color-signal-positive-on-dark: var(--system-green-40);
    --color-signal-positive-on-dark-active: var(--system-green-50);
    --color-signal-caution: var(--system-orange-70);
    --color-signal-caution-active: var(--system-orange-80);
    --color-signal-caution-on-dark: var(--system-orange-40);
    --color-signal-caution-on-dark-active: var(--system-orange-50);
    --color-signal-negative: var(--system-red-70);
    --color-signal-negative-active: var(--system-red-80);
    --color-signal-negative-on-dark: var(--system-red-40);
    --color-signal-negative-on-dark-active: var(--system-red-50);
    --color-signal-neutral: var(--cool-gray-70);
    --color-signal-neutral-active: var(--cool-gray-80);
    --color-signal-neutral-on-dark: var(--cool-gray-40);
    --color-signal-neutral-on-dark-active: var(--cool-gray-50);
    --color-text: var(--black-a90);
    --color-text-active: var(--black-a90);
    --color-text-on-dark: var(--white);
    --color-text-on-dark-active: var(--white-a70);
    --color-text-stick: var(--black-a90);
    --color-text-stick-active: var(--black-a90);
    --color-text-on-dark-flip: var(--white);
    --color-text-on-dark-flip-active: var(--white-a70);
    --color-text-shift-on-dark-flip: var(--white);
    --color-text-shift-on-dark-flip-active: var(--white-a70);
    --color-text-low-emphasis: var(--black-a60);
    --color-text-low-emphasis-active: var(--black-a90);
    --color-text-low-emphasis-on-dark: var(--white-a70);
    --color-text-low-emphasis-on-dark-active: var(--white-a70);
    --color-text-low-emphasis-shift: var(--black-a60);
    --color-text-low-emphasis-shift-active: var(--black-a90);
    --color-text-low-emphasis-stick: var(--black-a60);
    --color-text-low-emphasis-stick-active: var(--black-a90);
    --color-text-disabled: var(--black-a30);
    --color-text-on-dark-disabled: var(--white-a40);
    --color-text-link-visited: var(--purple-70);
    --color-text-link-visited-active: var(--purple-80);
    --color-text-link-visited-on-dark: var(--purple-40);
    --color-text-link-visited-on-dark-active: var(--purple-50);
    --color-text-solid: var(--system-gray-90);
    --color-text-solid-active: var(--system-gray-90);
    --color-text-solid-on-dark: var(--white);
    --color-text-solid-on-dark-active: var(--system-gray-40);
    --color-text-solid-low-emphasis: var(--system-gray-70);
    --color-text-solid-low-emphasis-active: var(--system-gray-90);
    --color-text-solid-low-emphasis-on-dark: var(--system-gray-40);
    --color-text-solid-low-emphasis-on-dark-active: var(--system-gray-50);
    --color-text-solid-disabled: var(--system-gray-50);
    --color-text-solid-on-dark-disabled: var(--system-gray-60);
    --color-icon: var(--black-a60);
    --color-icon-active: var(--black-a90);
    --color-icon-on-dark: var(--white);
    --color-icon-on-dark-active: var(--white-a70);
    --color-icon-stick: var(--black-a60);
    --color-icon-stick-active: var(--black-a90);
    --color-icon-on-dark-flip: var(--white);
    --color-icon-on-dark-flip-active: var(--white-a70);
    --color-icon-nav: var(--black-a60);
    --color-icon-nav-active: var(--black-a90);
    --color-icon-nav-on-dark: var(--white-a70);
    --color-icon-nav-on-dark-active: var(--white);
    --color-icon-nav-selected: var(--black-a90);
    --color-icon-nav-selected-active: var(--black-a90);
    --color-icon-nav-selected-on-dark: var(--white);
    --color-icon-nav-selected-on-dark-active: var(--white-a70);
    --color-icon-disabled: var(--black-a30);
    --color-icon-on-dark-disabled: var(--white-a40);
    --color-border: var(--black-a60);
    --color-border-active: var(--black-a90);
    --color-border-on-dark: var(--white);
    --color-border-on-dark-active: var(--white-a70);
    --color-border-low-emphasis: var(--black-a30);
    --color-border-low-emphasis-active: var(--black-a60);
    --color-border-low-emphasis-on-dark: var(--white-a40);
    --color-border-low-emphasis-on-dark-active: var(--white-a25);
    --color-border-faint: var(--black-a08);
    --color-border-faint-on-dark: var(--white-a12);
    --color-border-gap: var(--white);
    --color-border-gap-on-dark: var(--black-a60);
    --color-background-container: var(--white);
    --color-background-container-tint: var(--cool-gray-10);
    --color-background-container-dark: var(--cool-gray-90);
    --color-background-container-dark-tint: var(--cool-gray-80);
    --color-background-canvas: var(--warm-gray-20);
    --color-background-canvas-mobile: var(--warm-gray-30);
    --color-background-canvas-tint: var(--white);
    --color-background-canvas-dark: var(--black);
    --color-background-canvas-dark-tint: var(--cool-gray-90);
    --color-background-scrim: var(--black-a60);
    --color-background-scrim-dark: var(--black-a90);
    --color-background-new: var(--blue-50-a20);
    --color-background-new-active: var(--blue-50-a30);
    --color-background-new-on-dark: var(--blue-50-a30);
    --color-background-new-on-dark-active: var(--blue-50-a20);
    --color-element: var(--black-a90);
    --color-element-active: var(--black-a90);
    --color-element-on-dark: var(--white);
    --color-element-on-dark-active: var(--white-a70);
    --color-element-low-emphasis: var(--black-a60);
    --color-element-low-emphasis-active: var(--black-a90);
    --color-element-low-emphasis-on-dark: var(--white-a70);
    --color-element-low-emphasis-on-dark-active: var(--white-a70);
    --color-element-low-emphasis-shift: var(--black-a60);
    --color-element-low-emphasis-shift-active: var(--black-a90);
    --color-element-low-emphasis-stick: var(--black-a60);
    --color-element-low-emphasis-stick-active: var(--black-a90);
    --color-element-shift-on-dark-flip: var(--white);
    --color-element-shift-on-dark-flip-active: var(--white-a70);
    --color-element-solid: var(--system-gray-90);
    --color-element-solid-active: var(--system-gray-90);
    --color-element-solid-on-dark: var(--white);
    --color-element-solid-on-dark-active: var(--system-gray-40);
    --color-element-solid-low-emphasis: var(--system-gray-70);
    --color-element-solid-low-emphasis-active: var(--system-gray-90);
    --color-element-solid-low-emphasis-on-dark: var(--system-gray-40);
    --color-element-solid-low-emphasis-on-dark-active: var(--system-gray-50);
    --color-element-solid-low-emphasis-shift: var(--system-gray-70);
    --color-element-solid-low-emphasis-shift-active: var(--system-gray-90);
    --color-element-solid-low-emphasis-stick: var(--system-gray-70);
    --color-element-solid-low-emphasis-stick-active: var(--system-gray-90);
    --color-element-solid-shift-on-dark-flip: var(--white);
    --color-element-solid-shift-on-dark-flip-active: var(--system-gray-40);
    --color-element-solid-disabled: var(--system-gray-40);
    --color-element-solid-on-dark-disabled: var(--system-gray-70);
    --color-background-faint: var(--black-a08);
    --color-background-faint-active: var(--black-a15);
    --color-background-faint-on-dark: var(--white-a12);
    --color-background-faint-on-dark-active: var(--white-a06);
    --color-checked: var(--system-green-70);
    --color-checked-active: var(--system-green-80);
    --color-checked-tint: var(--system-green-30);
    --color-checked-on-dark: var(--system-green-40);
    --color-checked-on-dark-active: var(--system-green-50);
    --color-checked-tint-on-dark: var(--system-green-80);
    --color-checked-offset: var(--system-green-60);
    --color-checked-offset-active: var(--system-green-70);
    --color-checked-offset-on-dark: var(--system-green-50);
    --color-checked-offset-on-dark-active: var(--system-green-60);
    --color-background-none: var(--transparent);
    --color-background-none-hover: var(--black-a08);
    --color-background-none-active: var(--black-a08);
    --color-background-none-on-dark: var(--transparent);
    --color-background-none-on-dark-hover: var(--transparent);
    --color-background-none-on-dark-active: var(--white-a12);
    --color-background-none-action-active: var(--blue-50-a20);
    --color-background-none-action-on-dark-active: var(--blue-50-a20);
    --color-background-none-tint-hover: var(--black-a08);
    --color-background-none-tint-active: var(--black-a12);
    --color-background-none-tint-on-dark-hover: var(--white-a18);
    --color-background-none-tint-on-dark-active: var(--white-a12);
    --color-background-none-tint-action-hover: var(--blue-50-a20);
    --color-background-none-tint-action-active: var(--blue-50-a30);
    --color-background-none-tint-action-on-dark-hover: var(--blue-50-a30);
    --color-background-none-tint-action-on-dark-active: var(--blue-50-a20);
    --color-disabled: var(--black-a30);
    --color-on-dark-disabled: var(--white-a40);
    --color-background-disabled: var(--black-a08);
    --color-background-on-dark-disabled: var(--white-a12);
    --color-border-focus: var(--teal-70);
    --color-background-focus: var(--teal-50-a30);
    --color-border-focus-on-dark: var(--teal-40);
    --color-background-focus-on-dark: var(--teal-50-a30);
    --color-shadow: var(--black-a30);
    --color-shadow-on-dark: var(--white-a40);
    --voyager-color-action: var(--blue-70);
    --voyager-color-action-hover: var(--blue-80);
    --voyager-color-action-active: var(--blue-90);
    --voyager-color-action-on-dark: var(--white);
    --voyager-color-action-on-dark-hover: var(--white);
    --voyager-color-action-on-dark-active: var(--white-a70);
    --voyager-color-action-stick: var(--blue-70);
    --voyager-color-action-stick-hover: var(--blue-80);
    --voyager-color-action-stick-active: var(--blue-90);
    --voyager-color-action-selected: var(--cool-gray-20);
    --voyager-color-action-on-dark-selected: var(--cool-gray-80);
    --memorialization-color-border: var(--lavender-80);
    --memorialization-color-label: var(--lavender-80);
    --memorialization-color-canvas: var(--lavender-10);
    --premium-color-brand: var(--amber-40);
    --premium-color-action: var(--amber-40);
    --premium-color-action-hover: var(--amber-50);
    --premium-color-action-active: var(--amber-60);
    --premium-color-text: var(--black-a90);
    --premium-color-text-active: var(--black-a90);
    --premium-color-icon: var(--black-a90);
    --premium-color-icon-active: var(--black-a90);
    --premium-color-plan-1: var(--green-70);
    --premium-color-plan-2: var(--cool-gray-70);
    --premium-color-plan-3: var(--mauve-70);
    --premium-color-plan-4: var(--mauve-80);
    --premium-color-plan-5: var(--copper-70);
    --premium-color-plan-6: var(--teal-70);
    --reactions-color-text-like: var(--blue-70);
    --reactions-color-text-celebrate: var(--green-70);
    --reactions-color-text-support: var(--lavender-70);
    --reactions-color-text-love: var(--warm-red-70);
    --reactions-color-text-insightful: var(--amber-70);
    --reactions-color-text-curious: var(--mauve-70);
    --voyager-color-background-comment: var(--system-gray-20);
    --voyager-color-background-container-tint-2: var(--cool-gray-20);
    --voyager-color-background-input-search: var(--cool-gray-20);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size:62.5%;
}
html,body{
    height:100%;
}
body, p {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
}
body{
    background-color:var(--color-background-canvas) !important;
}
/* End of Common Styles */

/* Header styles */
.global-nav {
    background-color: var(--color-background-container) !important;
    border-bottom: 1px solid var(--color-border-faint) !important;
    height: 53px;
    position: fixed;
    top: 0;
    width: 100vw;
}
.global-nav__content {
    align-items: center;
    display: flex;
    margin: 0 auto;
    min-height: 100%;
    width: 1128px;
}
.top-left-part {
    flex-basis: 40%;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    justify-content: flex-start;
}
h1.global-nav__branding {
    margin-right: 1rem;
}
.global-nav__search {
    display: flex;
    align-items: center;
    flex: 1;
    margin-bottom: 1.2rem;
    position: relative;
}

input.search-global {
    width: 100%;
    border-radius: 2px;
    border:none;
    padding: 0 8px 0 28px;
    line-height: 1.75;
    color: rgba(var(--cool-gray-80,#283e4a),.75);
    font-weight: 400;
    font-size: 14px;
    height: 34px;
    background-color: var(--cool-gray-30,#e1e9ee);
    border-color: var(--cool-gray-30,#e1e9ee);
}
.global-nav__search input{
    background-color: var(--voyager-color-background-input-search);
    border-radius: var(--corner-radius-small);
    color: var(--color-text-low-emphasis);
    padding-left: 40px;
}
.global-nav__search input:focus{
    border:0.2rem solid var(--blue-60);
}
.s-icon {
    position: absolute;
    left: 0.4rem;
    top: 0.9rem;
}
/* Nav */
nav.global-nav__nav {
    flex-basis: 60%;
}
ul.global-nav__primary-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style:none;
}
.global-nav-primary-item{
    display: flex !important;
    align-items: center !important;
}
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.global-nav__primary-link, a.global-nav__primary-link {
    align-items: center;
    background: transparent;
    color: var(--cool-gray-30,#e1e9ee);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    min-height: 52px;
    min-width: 80px;

}
.global-nav__icon {
    height: 24px;
    transform: scale(1);
    transition: transform .2s ease-in-out;
    width: 24px;
}
.global-nav__primary-link svg{
    fill:var(--color-icon-nav);
}
.global-nav__primary-link svg:hover,a.global-nav__primary-link:hover{
    fill:#191919;
    color:#191919;
}
.global-nav__primary-link, .global-nav__primary-link:visited, a.global-nav__primary-link, a.global-nav__primary-link:visited {
    color: var(--color-icon-nav);
}
.global-nav__me-photo {
    background-color: #b3b6b9;
    border-radius: 50%;
    border: 1px solid var(--cool-gray-40,#c7d1d8);
    height: 24px;
    overflow: hidden;
    transform: scale(1);
    transition: transform .2s ease-in-out;
    width: 24px;
    object-fit:cover;
}
.global-nav__me-wrapper span.global-nav__primary-link-text {
    display: flex;
    align-items: end;
}
/* End of Header styles */
/* Main Area */
.main-area {
    display: flex;
    margin-left: 166px;
    margin-top: 50px;
}
/* Profile Styles */
.main-area .profile-left-wrap {
    flex-basis: 70%;
    position: relative;
}
.profile-left-wrap .profile-cover-wrap{
    border-top-left-radius: var(--corner-radius-medium);
    border-top-right-radius: var(--corner-radius-medium);
    background:50% / cover;
    height:197.984px;
    background-size:100%;
    box-shadow: var(--elevation-lined)!important;
}
aside.profile-right-wrap {
    flex-basis: 30%;
}
.upload-cov-opt-wrap{
    position: relative;
}
.add-cover-photo {
    position: absolute;
    line-height: 1.5;
    top: 24px;
    width: 30px;
    height: 30px;
    right: 24px;
    background-color: var(--voyager-color-action-on-dark);
    text-align: center;
    border-radius: var(--corner-radius-full)!important;
    cursor: pointer;
}
.add-cover-photo svg {
    margin-top: 6px;
    fill: var(--color-action);
}
/* End of Profile */
/* Modal */
.modal,.modal-pic,.modal-pic-edit,.contact-info__show {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    width: 100vw;
    height: 100vh;
    z-index: 100000000; /* Sit on top */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.75);/* Black w/ opacity */
  }
  
.artdeco-modal{
    max-width: 744px;
    background-color: var(--color-background-container)!important;
    border-radius: var(--corner-radius-medium)!important;
    border: none!important;
    box-shadow: var(--elevation-raised)!important;
}
.artdeco-modal-step{
    max-width: 744px;
    background-color: var(--color-background-container)!important;
    border-radius: var(--corner-radius-medium)!important;
    border: none!important;
    box-shadow: var(--elevation-raised)!important;
}
.artdeco-modal {
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 12px 18px 1px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--white,#fff);
    width: 750px;
    max-width: 100%;
    top: 52px;
    height: 461px;
    max-height: calc(100vh - 64px);
    border-radius: 2px;
   
}
.artdeco-modal-pic{
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 12px 18px 1px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--white,#fff);
    width: 750px;
    max-width: 100%;
    top: 52px;
    height: 422px;
    max-height: calc(100vh - 64px);
    border-radius: 2px;
}
.artdeco-modal-pic-edit {
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 12px 18px 1px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--white,#fff);
    width: 750px;
    max-width: 100%;
    top: 153px;
    height: 440px;
    max-height: calc(100vh - 64px);
    border-radius: 2px;
}
.artdeco-modal-pic-contact-info {
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 12px 18px 1px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--white,#fff);
    width: 750px;
    max-width: 100%;
    top: 153px;
    height: 440px;
    max-height: calc(100vh - 64px);
    border-radius: 2px;
    display:none;
}
/* .artdeco-modal-pic-contact-info{
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 12px 18px 1px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--white,#fff);
    width: 750px;
    max-width: 100%;
    top: 52px;
    height: 422px;
    max-height: calc(100vh - 64px);
    border-radius: 2px;
} */
.artdeco-modal-pic-cover-edit {
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 12px 18px 1px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--white,#fff);
    width: 750px;
    max-width: 100%;
    top: 52px;
    height: 422px;
    max-height: calc(100vh - 64px);
    border-radius: 2px;
    display: none;
}
.artdeco-modal-step {
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 12px 18px 1px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--white,#fff);
    width: 750px;
    max-width: 100%;
    top: 52px;
    height: 461px;
    max-height: calc(100vh - 64px);
    border-radius: 2px;
    display:none;
}

.header__topcard {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 2.4rem;
    border-bottom: 1px solid rgba(0,0,0,.15);
    font-family: var(--artdeco-typography-sans);
    font-size: 1.6rem;
    line-height: 1.5;
    color: rgba(0,0,0,.6);
    font-weight: 400;
    font-style: normal;
}
.modal-body__topcard {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    min-height: 5.6rem;
    padding: 1.6rem 2.4rem;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
.modal-body__topcard-container {
    width: 230px;
    height: 181px;
}
h3.education-paragraph.t-20.t-normal.text-align-center.mt5.mb2 {
    font-size: 3rem;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 400;
}
.modal__footer-topcard {
    display: flex;
    justify-content: flex-end;
    padding: 1.2rem 2.4rem;
    border-top: 1px solid rgba(0,0,0,.15);
}
button#ember760 {
    color: var(--color-text-shift-on-dark-flip-active);
    margin-top: 1rem;
    outline:none;
    position: relative;
}
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}


span.artdeco-button__text {
    background-color: var(--voyager-color-action);
    color: var(--color-text-shift-on-dark-flip);
    padding: 1rem;
    border-radius: 1.59rem!important;
}
.ed_p__head {
    display: flex;
    align-items: center;
}
button.back__edit {
    margin-right: 1rem;
}
span.artdeco-button__text:hover{
    background-color: var(--voyager-color-action-hover);
    color: var(--color-text-shift-on-dark-flip);
}
input.profile-topcard-background-image-edit__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.artdeco-modal__dismiss{
    padding:1rem;
    border-radius:50%;
}
.artdeco-modal__dismiss:hover{
    background-color: var(--color-background-none-tint-hover);
    color: var(--color-text-low-emphasis-shift);
}
/* Image Preview */
.imagePreview{
    display:block;
    max-width:100%;
}
/* End of Modal */
/* Profile Style */
.cover-photo-rest-wrap {
    position: absolute;
    top: 28%;
    left: 5%;
    width: 160px;
    height: 160px;
    text-align: center;
}
.pv-top-card--photo.text-align-left {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-clip: content-box;
    border-radius: 49.9%;
    background-color: rgba(243,246,248,.94);
    border: 4px solid var(--white,#fff);
}
.pv-top-card__photo-wrapper.ml0 {
    background-color: var(--color-background-container-tint);
    width: 100%;
    height: 100%;
    border-radius: 49.9%;
    cursor: pointer;
}
.profile-pic {
    width: 152px;
    height: 152px;
    padding-top: 49px;
}
.dont-add-profile-photo {
    width: 160px;
    background-clip: content-box;
    height: 160px;
    border-radius: 49.9%;
    border: 4px solid var(--white,#fff);
}
.profile-pic-user {
    width: 152px;
    height: 152px;
}
.profile-pic-user img{
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    background: #b3b6b9;
}
.right-icon {
    position: absolute;
    right: 25px;
    top: 57%;
}
button.edit-profile-icon {
    height: 4rem;
    width: 4rem;
   
}
button.edit-profile-icon:hover{
    background-color: var(--color-background-none-tint-hover);
    border-radius: 50%;
}
.ph5{
    background: #fff;
    /* height: 300px; */
    border-bottom-left-radius: var(--corner-radius-medium);
    border-bottom-right-radius: var(--corner-radius-medium);
    box-shadow: var(--elevation-lined)!important;
}
.display-flex.mt2.p-10 {
    padding-left: 24px;
    padding-top: 91px;
    padding-bottom: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: space-between;
}
.p-header-sch{
    margin-right:7rem;
}
.p-header-sch h2{
    color: var(--color-text);
    font-size:1.4rem;
    line-height:1.5;
    font-weight: 600;
}
.p-header-sch h2 a{
    color: var(--color-text);
    font-size:1.4rem;
    line-height:1.5;
    font-weight: 600;
}
.p-header-sch h2 a:hover{
    text-decoration: underline;
}
li.t-black{
    color: var(--color-text);
    font-size: 2.4rem;
    font-weight: 600;
}
h2.mt1.t-18.t-black.t-normal.break-words {
    font-weight: 400;
}
p.t-24.t-black.t-normal {
    line-height: 1.5;
    margin-bottom: 10px;
}
.a-modal-pic-wrapper {
    margin: 2rem 0;
}
.pv-top-card--list-bullet>:not(:last-child)::after {
    content: "\00B7";
    margin: 0;
    padding: 0 4px;
    color: var(--black,#000);
    font-weight: 400;
}
ul.pv-top-card--list.inline-flex.pv-top-card--list-bullet {
    display: inline-flex;
}

.contact-link:hover{
    text-decoration: underline;
}
a.global-nav__primary-link.ember-view.active{
    position: relative !important;
}
.global-nav__primary-link.active:after, a.global-nav__primary-link.active:after {
    border-bottom: 2px solid var(--white,#fff);
    content: "";
    bottom: 5px;
    border-color: var(--color-icon-nav-active)!important;
    left: 0;
    position: absolute !important;
    width: 100%;
}
a.active{
    color: var(--color-icon-nav-active)!important;
}
a.active svg{
    fill: var(--color-icon-nav-active)!important;
}
/* Edit Styles */
.p__edit-modal-body__topcard {
    overflow: auto;
    width: 100%;
    height: 475px;
    position: relative;
}
.profile-cover-wrap {
    background: 50% / cover;
    height: 181.75px;
    background-size: 100%;
    box-shadow: var(--elevation-lined)!important;
}
div.edit-cover-photo {
    background-color: var(--voyager-color-action-on-dark);
    text-align: center;
    border-radius: var(--corner-radius-full)!important;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    width: 30px;
    height: 30px;
    right: 28px;
}
.edit-cover-photo svg {
    margin-top: 6px;
    fill: var(--color-action);
}
.p__edit-profileCover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-left: 100%;
    overflow: hidden;
    background-color: transparent;
}
.pr__edit-camera {
    position: absolute;
    top: 27%;
    left: 15%;
    height: 150px;
    width: 150px;
}

.pr__edit-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-clip: content-box;
    border-radius: 50%;
    background-color: rgba(243,246,248,.94);
    border: 4px solid var(--white,#fff);
}

.pr__edit-wrapper-label {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(243,246,248,.94) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer !important;
}
.pr__ed-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
input#profile__edit-modal {
    position: absolute;
    top: 44%;
    left: 50%;
    width: 1px;
    height: 1px;
}
/* Edit Profile */
.pe__wrapper {
    padding-top: 7.5rem;
    padding-left: 5rem;
    padding-right: 2rem;
}
.pe-s-multi-field {
    display: flex;
}
.pe-top-card-form__name-field {
    margin-top: 1rem;
    flex: 1;
    margin-right: 8px;
}
label.pe-form-field__label.label-text.required {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.42857;
    color: rgba(0,0,0,.9);
    display: block;
}
label.required:after {
    content: "*";
    color: var(--blue-70,#0073b1);
    margin-left: .2rem;
}
label.required:after{ color: var(--color-text-low-emphasis);}
.modal-pic-edit .artdeco-modal-pic{
    height:495px;
}
.modal-pic-edit input[type="text"],.modal-pic-edit textarea,.modal-pic-edit select,input.pe-form-field__text-input {
    font-size: 1.4rem;
    line-height: 1.42857;
    font-weight: 400;
    transition-duration: 334ms;
    transition-property: border-color,box-shadow;
    box-shadow: none;
    border-radius: .2rem;
    border: .1rem solid rgba(0,0,0,.6);
    padding: 0 1rem;
    width: 100%;
    height: 3.2rem;
    box-sizing: border-box;
    background-color: transparent;
    color: rgba(0,0,0,.9);
    border-radius: var(--corner-radius-small);
    box-shadow: inset 0 0 0 1px var(--color-border);
    box-sizing: border-box;
    transition: all 83ms ease;
   
}
.pe-form-field.pe-top-card-form__headline-field.floating-label.pe-form-field--has-error {
    max-height: 4em;
    min-height: 0;
}
.pe-form-field.pe-top-card-form__headline-field.floating-label.pe-form-field--has-error  textarea{
    resize: none;
}
.modal-pic-edit input[type="text"]:focus,.modal-pic-edit textarea:focus{
    border: 1px solid  rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 0 0 2px var(--color-border);
}
.pe-s-multi-field {
    margin-bottom: 3rem;
}
.pe-form-field.pe-top-card-form__education-field.floating-label {
    padding-top: 4rem;
    margin-bottom: 2rem;
}
.pe-form-field.pe-form-field__country-region-picker.relative.ember-view {
    padding-top: 4rem;
}
.pe-form-field.industry-field {
    padding-bottom: 2rem;
}
.pe-top-card-form__contact-info.display-flex.align-items-center {
    display: flex;
    align-items: center;
    border-bottom:1px solid var(--black-a60);
    margin-bottom:2rem;
}
p.pe-top-card-form__contact-info-details.t-14.t-black.t-normal {
    flex: 1;
}
.pe-form-field:after {
    content: "";
    display: table;
    clear: both;
}
button#pencilBtn-edit {
    border-radius: var(--corner-radius-full)!important;
    width: 4rem;
    height: 4rem;
}
.artdeco-button--tertiary:hover {
    background-color: var(--color-background-none-tint-action-hover);
    color: var(--color-action);
}
.pe-s-form__body.pe-form-body {
    padding: 2rem;
}
label.pe-form-field__label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.42857;
    color: rgba(0,0,0,.9);
    display: block;
    margin: 1.2rem 0 .3rem;
}
.pe-contact-info-form__types-field {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.pe-contact-info-form__types-input {
    flex-basis: 70%;
    margin-right: 16px;
}
select#contact-website-type-ember2005 {
    flex-basis: 30%;
}
select#contact-phone-type-ember1838 {
    flex-basis: 30%;
}
.pe-form-field.pe-form-field__country-region-picker.relative.mb-2 {
    margin-bottom: 1rem;
}
.link-redirect:hover{
    text-decoration: underline;
}
.pe-form-field {
    margin-top: 24px;
}
.pe-form-time-period__single-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button.back___home-edit {
    margin-right: 1rem;
}
div.pe-form-field__month-year-date.ember-view {
    flex-basis: 33%;
}
.mt1.visibility-setting.visibility-setting--trailing.ember-view {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 8px;
}
span.visibility-setting__trigger-content {
    display: flex;
    color: var(--color-action);
    font-size: 1.4rem;
    line-height: 1.42857;
    font-weight: 600;
}
.core-profile{
    padding-top:52px;
}
/* End of Edit Profile */
/* End of Edit Styles */
/* End of Profile Style */
/* End of Main Area */